<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona todo o tráfego para a pasta public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Bloquear acesso a arquivos sensíveis na raiz
<FilesMatch "\.(env|log|lock|gitignore|gitattributes)$">
    Order allow,deny
    Deny from all
</FilesMatch>
</Files>
