<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona para public/ evitando loop
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,QSA]
</IfModule>

# Bloquear acesso a arquivos sensíveis na raiz
<FilesMatch "\.(env|log|lock|gitignore|gitattributes)$">
    Order allow,deny
    Deny from all
</FilesMatch>
