<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona todo o tráfego web para a pasta public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Bloquear acesso direto a arquivos sensíveis
<FilesMatch "\.(env|log|json|lock|gitignore|gitattributes|blade\.php|php)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Permitir acesso a index.php via redirecionamento interno
<Files "index.php">
    Order allow,deny
    Allow from all
</Files>
